/*-----------------------------------------------FontImports and overflow mod-------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}


/*------------------------------------------------------NavBar----------------------------------------------------------*/

.navbar-light .navbar-nav .nav-link{
    color: white !important;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover{
    font-size: 20px;
    transition: 0.3s;
}

.navbar-light .navbar-brand{
    color: white !important;
    transition: 0.3s;
}

.navbar-light .navbar-brand:hover{
    font-size: 25px;
    transition: 0.3s;
}

/*------------------------------------------------------Index-----------------------------------------------------------*/

.hero-img {
  width: auto;
  height: 100vh;
  background: url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-text {
  color: rgb(248, 249, 250);
  letter-spacing: 2px;
  font-family: exo;
  text-align: center;
  font-size: 2rem;
  padding-top: 50vh;
  padding-right: 50vw;
}
